html {
	margin: 0 auto;
	padding: 10px;
	background-color: rgba(35,35,35,0.9);
	/*padding: -40px 0px 0px 0px;*/
	border:8px solid #E0FFFF;
}
body {
	border: 8px solid #C12283;
	border-clip: padding-box;
	padding: 20px 20px 20px 20px;
	margin: 10px 10px 10px 10px;
}
div {
	font-family: 'Cantora One', sans-serif;
	margin: 0 auto;
}
span {
	color: #C12283;
}
div.col-md-4, div.col-md-5, div.col-md-3 {
	font-size: 19px;
	color: white;
	text-align: justify;
}
img.leptin {
	width: 800px;
	margin: 0 auto;
}

#one, #two, #three, #four {
	font-size: 23px;
color: #E0FFFF;
padding-bottom: 5px;
text-align: center;
}
div.col-md-10 {
	text-align: center;
	color: #C12283;
font-size: 18px;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 70px;
	text-shadow: 3px 3px #C12283;
	color: white;
	font-family: 'Berkshire Swash', cursive;
	padding: 0px 20px 0px 20px;
	border-width:15px 25px 15px 25px;
	border-image: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg") 25 30 10 20 repeat;
	border-clip: content-box;
	letter-spacing: 1px;
	height: 220px;
	margin-bottom: 25px;
}
.paragraph {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	padding: 8px 8px 8px 8px;
	font-size: 25px;
	font-family: 'Belleza', sans-serif;
	font-weight: bold;
	text-align: center;
	color:  black;
	border-clip: padding-box;
	line-height: 140%;
  	background: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg");
  	border: 15px solid rgba(0, 0, 0, 0.3)
}
ul {
	font-size:30px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Cantora One', sans-serif;
	color: #C12283;
}
#nav {
	text-align: center;
}
#nav_wrapper {
	width: inherit;
	margin: 0 auto;
	text-align: center;
}
#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0px 10px 0px 10px;
	position: relative;
}
#nav ul li {
	display: inline-block;
}
#nav ul li:hover {
	background-color: #E0FFFF;
}
#nav ul li img {
	vertical-align: middle;
	padding-left: 5px;
}
#nav ul li a, visited {
	color: #C12283;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #C12283;
	text-decoration: none;
}
#nav ul li:hover ul {
	display: block;
}
#nav ul ul {
	display: none;
	position: absolute;
	background color: #E0FFFF;
	border: 3px solid #222;
	margin-left: -3px;
	max-width: 220px;
}
#nav ul ul li a, visited {
	color: #C12283;
	padding-top: 0;
	font-size: 30px;
}
#nav ul ul li a:hover {
	color: #C12283;
}



@media screen and (max-width: 767px) {
	h1 {font-size: 45px;
		letter-spacing: 0px;
		padding: 0px 10px 0px 10px;
		height: 170px;}
}
@media (min-width: 768px) and (max-width: 1024px) {
	h1 {font-size: 60px;
		letter-spacing: 0px;
		padding: 0px 10px 0px 10px;
		height: 180px;}
	li {font-size: 22px;}
	#nav ul ul li a {font-size: 22px;}
}

    }
/*@media (max-width: 480px) {
	ul {
		font-size: 13px;
		font-weight: none;
	}
	h1 {
		font-size: 20px;
		height: 30px;
	}
	p {
		font-size: 12px;
		font-weight: none;
	}
	#nav ul {
margin: 0px 4px 0px 4px;
	}
	#nav ul li img {
	vertical-align: middle;
	padding-left: 2px;
}
}