h1 {
	display: block;
	padding-bottom: 0px;
	text-align: center;
	font-family: 'Cantora One', sans-serif;
	font-size:50px;
	text-shadow: 3px 3px #66FFFF;
	font-weight: italic;
	text-decoration: underline;
	}

p {
	font-size: 20px;
	font-family: 'Belleza', sans-serif;
	text-align: left;
	padding: 10px 20px 10px 20px;
	color:  solid black;
	background: rgba(102,255,255,0.9);
	background-clip: content-box;
	line-height: 140%;
}
body {
margin: 0 auto;
background-color: rgba(35,35,35,0.9);
padding: -40px 0px 0px 0px;
border:5px solid black;
}
div {
	border: 5px solid white;
}
img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 570px;
    height: 355px;
}
.h5 {
	display: block;
}
.btn {
	color: white !important;
	font-weight: bold;
	text-align: justify;
	font-size: 25px;
	font-family: 'Cantora One', sans-serif;
	margin-left: 5px;
	border: 2px solid #66FFFF;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 5px;
	text-align: left;
}
#linkedin {
	color: white !important;
	font-weight: bold;
	text-align: justify;
	font-size: 25px;
	font-family: 'Cantora One', sans-serif;
	border: 2px solid #66FFFF;
	border-radius: 5px;
	text-decoration: none
	text-align: right;
}