body {
margin: 0 auto;
background-color: rgba(35,35,35,0.9);
padding: -40px 0px 0px 0px;
border:5px solid black;
}
div {
	border: 5px solid white;
}
header {
	padding: 0 10px 0 10px;
}
h2 {
	margin-bottom: 5px;
}
h1 {
	display: block;
	background-color: white;
	border: 7px solid black;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-bottom: 0px;
	text-align: center;
	margin: 0px 5px 20px 5px;
}
.title {
	height:30px;
	width:auto;
	margin-top: 0px;
	text-align: center;
	font-weight: bold;
	font-family: 'Cantora One', sans-serif;
	color: rgba(0,0,0,1);
	font-size: 110px;
	text-shadow: 3px 3px #66FFFF;
	letter-spacing:6px;
	overflow: hidden;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: -20px;
}

/*img {
	margin:0px 0px 20px 0px;
	border: 2px solid #66FFFF;
	border-radius: 20px;*/
}
p {
	font-size: 25px;
	font-family: 'Belleza', sans-serif;
	text-align: center;
	padding: 10px 20px 10px 20px;
	color:  solid black;
	border-clip: padding-box;
	line-height: 140%;
	border: 3px inset #66FFFF;
	background: url("http://images2.layoutsparks.com/1/212421/lacy-blue-pattern-nice.jpg");
  	background-radius: 8px;
  	border: 20px solid rgba(0, 0, 0, 0.3)

}
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
#aboutmetag {
	text-decoration: none;
	font-weight: bold;
}
.name {
	font-style: italic;
	font-size: 30px;
	letter-spacing: 1px;
	padding-right: 0px;
	/*margin: auto;*/ 
	display: block;
	text-align: right;
	color: white;
	padding-top: 5px;
	margin-top: 5px;
}
.btn {
	color: white !important;
	font-weight: bold;
	text-align: justify;
	font-size: 25px;
	font-family: 'Cantora One', sans-serif;
	padding-top: 5px;
	border: 3px solid #66FFFF;
	border-radius: 5px;
	text-decoration: none;
	margin-right: 5px;
}

 .lime2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 225px;
  height: 200px;
  -moz-border-radius: 225px;
  border-radius: 225px;
  -webkit-border-radius:225px;
  padding: 0px 0px 0px 0px;
  border: 8px double #66FFFF;
  margin-top: 20px;
  background-color: black;
  

  }

h2.buttonholder {
	text-align: center;
}
.paragraph {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	padding: 8px 8px 8px 8px;
	font-size: 25px;
	font-family: 'Belleza', sans-serif;
	text-align: center;
	padding: 10px 20px 10px 20px;
	color:  solid black;
	border-clip: padding-box;
	line-height: 140%;
	border: 3px inset #66FFFF;
	background: url("http://images2.layoutsparks.com/1/212421/lacy-blue-pattern-nice.jpg");
  	background-radius: 8px;
  	border: 20px solid rgba(0, 0, 0, 0.3)
	}
.paragraph1 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	padding: 8px 8px 8px 8px;
}
.paragraph2 {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	border-radius: 20px;
	padding: 8px 8px 8px 8px;
}
/*#first {
	width: 60px;
	height: 55px;
	border: 6px inset black;
	border-radius: 65px;
	text-align: justify;
}
#second {
	width: 60px;
	height: 55px;
	border: 6px inset black;
	border-radius: 65px;
	text-align: justify;
}
