html {
	margin: 0 auto;
	background-color: rgba(35,35,35,0.9);
	/*padding: -40px 0px 0px 0px;*/
	border:8px solid black;
}
body {
	border: 8px solid white;
	border-clip: padding-box;
	padding: 10px 10px 10px 10px;

}
h2 {
	margin-bottom: 5px;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	text-shadow: 3px 3px rgba(231,84,128,1);
	color: white;
	font-family: 'Berkshire Swash', cursive;
	padding: 10px 20px 10px 20px;
	border-width:15px 25px 15px 25px;
	border-image: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg") 25 30 10 20 repeat;
	border-clip: content-box;
	letter-spacing: 4px;
	height: 120px;
	/*background: linear-gradient(#BCED91 49%, transparent 49%),
        linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
        white linear-gradient(45deg, white 33%, #BCED91 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 1px 100%, 40px 40px, 40px 40px;
	/*border: 15px solid rgba(0, 0, 0, 0.3)
	padding: 10px 20px 10px 20px;
	background: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg");
	background-clip: padding-box;*/
}
a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
#aboutmetag {
	text-decoration: none;
	font-weight: bold;
}
.name {
	font-style: italic;
	font-size: 30px;
	letter-spacing: 1px;
	padding-right: 10px; 
	display: block;
	text-align: right;
	color: white;
	padding-top: 5px;
	margin-top: 5px;
}
.btn {
	color: white !important;
	font-weight: bold;
	text-align: justify;
	font-size: 22px;
	font-family: 'Cantora One', sans-serif;
	padding-top: 5px 5px 5px 5px;
	border: 3px solid rgba(231,84,128,1);
	border-radius: 5px;
	text-decoration: none;
	margin-right: 5px;
}
#click {
	color: #FACC00;
}

h2.buttonholder {
	text-align: center;
}
.paragraph {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	padding: 8px 8px 8px 8px;
	font-size: 25px;
	font-family: 'Belleza', sans-serif;
	text-align: center;
	color:  solid black;
	border-clip: padding-box;
	line-height: 140%;
  	background: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg");
  	border: 15px solid rgba(0, 0, 0, 0.3)
}
#nav {
	background-color: #222;
}
#nav_wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: left;
}
#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#nav ul li {
	display: inline-block;
}
#nav ul li:hover:ul {
	display: block;
}
#nav ul ul {
	display: none;
	position: absolute;
	background color: #333;
	border: 3px solid #222;
	border-top: 0;
	margin-left: -3px;
	max-width: 200px;
}
#nav ul ul li a, visited {
	color: #ccc;
}
#nav ul ul li a:hover {
	color: #099;
}