html {
	margin: 0 auto;
	background-color: rgba(35,35,35,0.9);
	/*padding: -40px 0px 0px 0px;*/
	border:8px solid #E0FFFF;
}
body {
	border: 8px solid #C12283;
	border-clip: padding-box;
	padding: 10px 10px 10px 10px;


}
h2 {
	margin-bottom: 5px;
}
h1 {
	text-align: center;
	font-weight: bold;
	font-size: 100px;
	text-shadow: 3px 3px #C12283;
	color: white;
	font-family: 'Berkshire Swash', cursive;
	padding: 0px 20px 0px 20px;
	border-width:15px 25px 15px 25px;
	border-image: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg") 25 30 10 20 repeat;
	border-clip: content-box;
	letter-spacing: 4px;
	height: 120px;
	margin-bottom: 0px;
}

#click {
	color: black;
	text-decoration: none;
	font-style: italic;
}

.name {
	font-style: italic;
	font-size: 30px;
	letter-spacing: 1px;
	padding-right: 5px; 
	display: block;
	text-align: right;
	color: #E0FFFF;
	padding-top: 0px;
	margin-top: 10px;
	margin-bottom: 30px;
}

div {
	margin: 0 auto;
}
.paragraph {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0px;
	padding: 8px 8px 8px 8px;
	font-size: 25px;
	font-family: 'Cantora One', sans-serif;
	font-weight: none;
	text-align: justify;
	color:  black;
	border-clip: padding-box;
	line-height: 140%;
  	background: url("http://image.naldzgraphics.net/2012/01/32-floral.jpg");
  	border: 15px solid rgba(0, 0, 0, 0.3)
}
ul {
	font-size:30px;
	font-weight: bold;
	font-style: italic;
	font-family: 'Cantora One', sans-serif;
	color: #C12283;
}
#nav {
	text-align: center;
}
#nav_wrapper {
	width: inherit;
	margin: 0 auto;
	text-align: center;
}
#nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0px 10px 0px 10px;
	position: relative;
}
#nav ul li {
	display: inline-block;
}
#nav ul li:hover {
	background-color: #E0FFFF;
}
#nav ul li img {
	vertical-align: middle;
	padding-left: 5px;
}
#nav ul li a, visited {
	color: #C12283;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#nav ul li a:hover {
	color: #C12283;
	text-decoration: none;
}
#nav ul li:hover ul {
	display: block;
}
#nav ul ul {
	display: none;
	position: absolute;
	background color: #E0FFFF;
	border: 3px solid #222;
	margin-left: -3px;
	max-width: 220px;
}
#nav ul ul li a, visited {
	color: #C12283;
	padding-top: 0;
	font-size: 30px;
}
#nav ul ul li a:hover {
	color: #C12283;
}
@media (max-width: 480px) {
	h1 {font-size: 50px;
		letter-spacing: 0px;
		padding: 0px 10px 0px 10px;
		height: 170px;}
		li { font-size: 15px;}
		#nav ul ul li a {font-size: 15px;}
	.paragraph {
		font-size: 12px;
		font-weight: none;
	}
	#nav ul {
margin: 0px 4px 0px 4px;
	}
	#nav ul li img {
	vertical-align: middle;
	padding-left: 2px;
}
}
@media (min-width: 768px) and (max-width: 900px) {
	h1 {font-size: 80px;
		letter-spacing: 0px;
		padding: 0px 10px 0px 10px;
		height: 100px;}
		li {font-size: 18px;}
		#nav ul ul li a {font-size: 20px;}
		.paragraph {
			font-weight: none;
			line-height: 120%;
			font-size: 12px;
			font-family: 'Cantora One', sans-serif;
		}
	}
	@media (min-width: 901px) and (max-width: 1024px) {
	h1 {font-size: 90px;
		letter-spacing: 0px;
		padding: 0px 10px 0px 10px;
		height: 110px;}
	li {font-size: 22px;}
	#nav ul ul li a {font-size: 22px;}
}
    }